@media only screen and (max-width: 600px) {
    .section-info{
        font-size: 37px;
        margin: 0 8px;
    }

    .line-between{
        margin: auto;
        margin-bottom: 15px;
        width: 150px;
        height: 2px;
        background: #ffffffd8;
    }

    .header-pargraph{
        text-align: center !important;
    }
    #pro-service{
        top: 62%;
        left: 54%;
    }
    .pro-service-font{
        font-size: 30px;
    }
    .client-test-font{
        font-size: 20px;
    }
    #placeholderImg{
        top: 7%;
        left: 47%;
    }
    .client-test-title{
        font-size: 20px;
    }
    .test-head{
      padding: 50px 0;
    }
    .start-10{
      left: 0; 
    }
}

@media only screen and (max-width: 767px) {
    .line-between{
        margin: auto;
        margin-bottom: 15px;
        width: 150px;
        height: 2px;
        background: #ffffffd8;
    }

    .header-pargraph{
        text-align: center !important;
    }

    .section-info{
        font-size: 40px;
        margin: 0 8px;
    }
    .test-head{
      padding: 50px 0;
    }
    .start-10{
      left: 0; 
    }
   
}

@media only screen and (max-width: 992px) {
    h1{
        font-size: 50px;
    }
    .navbar-collapse{
        margin-top: 15px !important;
        background: var(--bg-secondary-color) !important;
        border-radius: 10px;
        text-align: center;
    }

    #checkbox {
        display: none;
      }
      
      .toggle {
        position: relative;
        width: 40px;
        cursor: pointer;
        margin: auto;
        display: block;
        height: calc(4px * 3 + 11px * 2);
      }
      
      .bar {
        position: absolute;
        left: 0;
        right: 0;
        height: 4px;
        border-radius: calc(4px / 2);
        background: #fff;
        color: inherit;
        opacity: 1;
        transition: none 0.35s cubic-bezier(.5,-0.35,.35,1.5) 0s;
      }
      
      /***** nav-btn Spin Animation *****/
      
      .bar--top {
        bottom: calc(50% + 11px + 4px/ 2);
        transition-property: bottom,transform;
        transition-delay: calc(0s + 0.35s),0s;
      }
      
      .bar--middle {
        top: calc(50% - 4px/ 2);
        transition-property: opacity;
        transition-delay: calc(0s + 0.35s);
      }
      
      .bar--bottom {
        top: calc(50% + 11px + 4px/ 2);
        transition-property: top,transform;
        transition-delay: calc(0s + 0.35s),0s;
      }
      
      #checkbox:checked + .toggle .bar--top {
        bottom: calc(50% - 4px/ 2);
        transform: rotate(135deg);
        transition-delay: 0s,calc(0s + 0.35s);
      }
      
      #checkbox:checked + .toggle .bar--middle {
        opacity: 0;
        transition-duration: 0s;
        transition-delay: calc(0s + 0.35s);
      }
      
      #checkbox:checked + .toggle .bar--bottom {
        top: calc(50% - 4px/ 2);
        transform: rotate(225deg);
        transition-delay: 0s,calc(0s + 0.35s);
      }

    
      .navbar-toggler {
        outline:transparent;
        box-shadow: none;
        border: transparent;
      }
      .navbar-toggler:focus {
        outline:transparent;
        box-shadow: none;
        border: transparent;
      }
      #pro-service{
        top: 62%;
        left: 57%;
    }
    .pro-service-font{
        font-size: 30px;
    }
    .client-test-font{
        font-size: 30px;
    }
    #placeholderImg{
        top: 7%;
        left: 47%;
    }
    .client-test-title{
        font-size: 20px;
    }
    .btn-of-service{
      width: 45%;
  }
  .line-between-2{
    width: 50vw;
    height: 2px;
    margin: 20px auto;
}
.fs-sm{
  font-size: 54px;
}
}